n8n/amino-fields-workflow.json
{
  "meta": {
    "instanceId": "amino-fields-endpoint"
  },
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "amino-fields",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "fields-webhook",
      "name": "GET /fields",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "amino-fields"
    },
    {
      "parameters": {
        "url": "={{ $json.headers['x-auth-url'] || 'https://matrix.intelechia.com/_matrix/client/v3/account/whoami' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.query.access_token || $json.headers.authorization?.replace('Bearer ', '') }}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": true
            }
          }
        }
      },
      "id": "fields-auth",
      "name": "Auth Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "auth-check",
              "leftValue": "={{ $json.user_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "fields-switch",
      "name": "Auth OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT field_id, table_id, field_name, field_type, options, is_computed, is_excluded\nFROM amino.field_registry\nWHERE table_id = '{{ $('GET /fields').first().json.query.tableId }}'\nORDER BY field_name;",
        "options": {}
      },
      "id": "fields-query",
      "name": "Query field_registry",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [900, 200],
      "credentials": {
        "postgres": {
          "id": "REPLACE_WITH_YOUR_POSTGRES_CREDENTIAL_ID",
          "name": "Amino PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ JSON.stringify({ tableId: $('GET /fields').first().json.query.tableId, fields: $input.all().filter(i => i.json.field_id).map(i => i.json) }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "fields-respond",
      "name": "Respond with Fields",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ JSON.stringify({ error: 'Unauthorized' }) }}",
        "options": {
          "responseCode": 401,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "fields-401",
      "name": "401 Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 440]
    }
  ],
  "connections": {
    "GET /fields": {
      "main": [
        [
          {
            "node": "Auth Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth Check": {
      "main": [
        [
          {
            "node": "Auth OK?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "401 Unauthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth OK?": {
      "main": [
        [
          {
            "node": "Query field_registry",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "401 Unauthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query field_registry": {
      "main": [
        [
          {
            "node": "Respond with Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
